<!DOCTYPE html>
<html lang="en" style="font-family: sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>homepage</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css?h=f1a8fe9e98944b9d682ec5c3efac8f17">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/static/assets/css/Navbar-Right-Links-Dark-icons.css?h=befd8a398792e305b7ffd4a176b5b585">
</head>

<body style="background: url(/static/assets/img/background.png), rgb(205,205,205);border-style: none;height: 756px;font-family: sans-serif;">
    <!-- Start: Navbar Right Links (Dark) -->
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><img width="39" height="37" src="/static/assets/img/horse.png?h=24652d9c5df985f68b20e149f2f8ee97"><a class="navbar-brand d-flex align-items-center" href="/"><span>GamePoisk</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5"><input type="search"><button class="btn btn-primary btn-info" type="button"><i class="fas fa-search"></i></button>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Каталог</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/signin">Зарегистрироваться</a></li>
                </ul><a class="btn btn-primary btn-info" role="button" href="/login">Войти</a>
            </div>
        </div>
    </nav><!-- End: Navbar Right Links (Dark) -->
    <div class="table-responsive border-0 d-lg-flex" style="width: 80%;margin: auto;">
        <table class="table table-borderless">
            <thead class="border-0" style="border-style: none;">
                <tr class="border-0">
                    <th class="border-0">&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="fs-1" style="font-weight: bold;"><br><strong>ДОБРО ПОЖАЛОВАТЬ!</strong><br></td>
                </tr>
                <tr class="fs-4">
                    <td>Мы хотим представить вам сервис, предназначен для поиска информации про образовательные ресурсы для детей младшего дошкольного возраста. Здесь вы можете найти сайты, игры и не только, которые помогут вашему ребенку развиваться. Мы стараемся искать только актуальную информацию специально для Вас. Надеемся, что мы сможем дать ответ на интересующий вас вопрос!</td>
                </tr>
                <tr class="fs-4">
                    <td style="border-style: none;">— Жаль, мы встретились так поздно…<br>— Чудесно, что мы встретились вообще.</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>